/* ================== FOOTER ================== */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #ff007f, #00e5ff);
    color: white;
  }
  
  footer a {
    color: #00e5ff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: #fff;
  }
  